global
    log /dev/log local0
    maxconn 4096
    daemon

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend svc_front
    bind *:5000
    default_backend svc_nodes

backend svc_nodes
    balance roundrobin
{% for host in groups['nodes'] %}
    server {{ host }} {{ hostvars[host].ansible_host }}:5000 check
{% endfor %}

listen snmp_udp
    mode udp
    bind *:6000
{% for host in groups['nodes'] %}
    server {{ host }} {{ hostvars[host].ansible_host }}:6000 check inter 10s
{% endfor %}
