global
    log /dev/log local0
    daemon
    maxconn 4096
    stats socket /run/haproxy/admin.sock mode 600 level admin

defaults
    mode            tcp
    option          tcplog
    timeout connect 5s
    timeout client  50s
    timeout server  50s

# service.py  – TCP/5000
frontend svc_front
    bind *:5000
    default_backend svc_nodes

backend svc_nodes
    balance roundrobin
    option  tcplog
{% for host in groups['nodes'] %}
    server {{ host }} {{ hostvars[host].ansible_host }}:5000 check
{% endfor %}
